body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;

  font-size: clamp(0.875rem, 0.8462rem + 0.14vw, 1rem);
  letter-spacing: 0.025em;
  line-height: 1.8;

  color: var(--body-text-color);
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  z-index: 1000;

  position: sticky;
}

main {
  margin-top: -5.8em;
  flex: 1;
}

.self_main {
  margin-top: 5.7em;
}

h4 {
  color: var(--dark);
  margin: 0px;
  font-family: var(--font-family-accent);
  font-size: clamp(1.125rem, 0.9519rem + 0.7692vw, 1.2rem);
  line-height: 1.2;
}

h2 {
  font-family: var(--font-family-oswald);

  font-size: clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem);

  color: var(--dark);
}

p {
  width: 100%;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* section:nth-child(2) {
  padding-top: 0px;
} */

section:last-child {
  margin-bottom: 0px;
}

section {
  margin-bottom: 80px;

  scroll-margin-top: 100px;
}

@media screen and (min-width: 768px) {
  section {
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 992px) {
  section {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    margin-bottom: 170px;
  }

  main {
    margin-top: -5.7em;
  }
}
