.css-er619e-MuiFormHelperText-root.Mui-error {
  color: red !important;
}

.css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: inherit !important ;
}

.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: inherit !important;
}

/* SELECT */

.MuiInputBase-root {
  border-radius: 6px !important;
}

.MuiOutlinedInput-root-MuiSelect-root {
  color: var(--accent-color) !important;
}

.MuiOutlinedInput-notchedOutline {
}

/* + Border */

.MuiOutlinedInput-notchedOutline {
  border-color: #dee2e6 !important;
}

/* + Label */

.MuiInputLabel-root {
  color: #6c757d !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--dark) !important;
}

/* DATE */

.MuiPickersTextField-root .MuiInputLabel-root {
  color: var(--white) !important;
}
