.wrapper_list {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 30px;
}

.item {
  max-width: 320px;
  min-width: 230px;

  position: relative;

  padding: 30px 20px;

  display: flex;
  flex-direction: column;

  flex: 1;

  align-items: center;

  box-shadow: var(--box-shadow);
}

.item::after {
  position: absolute;

  content: "";

  width: 100%;
  height: 3px;

  bottom: 0;

  background-color: var(--accent-color);
}

.contact_icon {
  width: 32px;
  height: 32px;
  fill: var(--white);
}

.icon_box {
  margin-bottom: 35px;
  position: relative;

  background-color: var(--accent-color);

  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_box::before {
  position: absolute;

  content: "";
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  background-color: transparent;

  border: 3px solid var(--accent-color);
}

.title {
  margin-bottom: 10px;
}

.content_wrapper {
  text-align: center;
  max-width: 200px;

  color: var(--dark);
}

.wrapper_form {
  padding: 60px;

  display: flex;
  align-items: center;

  gap: 50px;

  box-shadow: var(--box-shadow);
}

.form_block {
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;

  flex: 1 1 50%;
}

.image {
  box-shadow: rgba(0, 0, 0, 0.2) 2.95px 2.95px 5.6px;

  width: 100%;
  height: 635px;

  flex: 1 1 50%;
}

@media screen and (min-width: 1191.98px) {
  .wrapper_form {
    padding: 0px;
  }
}
