.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 20px;
}

.list_wrapper,
.note_wrapper {
  overflow: hidden;

  max-width: 100%;
  width: 100%;
}

.list_wrapper,
.note_wrapper {
  max-height: 800px;

  padding: 1rem;

  background-color: var(--light-color);

  border-radius: 6px;

  box-shadow: var(--box-shadow);

  color: var(--dark);
}

.list_note_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note_actions h2 {
  font-family: inherit;
  font-size: 22px;

  font-weight: 400 !important;
}

.date {
  font-size: 12px;
}

.list_action_wrapper {
  display: flex;
  align-items: center;

  gap: 10px;
}

.list_action_wrapper svg {
  width: 22px;
  height: 22px;

  stroke-width: 1px;
  color: var(--accent-color);
}

.list_wrapp {
  padding: 10px 20px;
  max-height: 700px;

  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

.list_wrapp::-webkit-scrollbar-thumb {
  background: rgb(250, 235, 215);
  border-radius: 4px;
}

.diarie_item {
  cursor: pointer;

  width: 100%;
  height: fit-content;

  padding: 1rem 1.2rem;

  border-radius: 6px;
  background-color: rgb(250, 235, 215);
}

.diarie_item:hover {
  transform: scale(1.03);
}

.diarie_title {
  padding-block: 5px;
  font-size: 22px;
}

.tags_list {
  max-width: 400px;

  overflow-x: auto;
  display: flex;

  gap: 15px;
}

.tags_list::-webkit-scrollbar {
  display: none;
}

.tag_item {
  padding: 2px 15px;

  background-color: var(--accent-color);
  border-radius: 6px;

  color: var(--white);
  font-size: 12px;

  text-wrap: nowrap;
}

/* NOTE TILE */

.note_wrapper {
  padding: 1rem;
}

.note_actions {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.icon svg {
  width: 24px;
  height: 24px;
  color: var(--accent-color);
}

.icon:hover > svg {
  transform: scale(1.1);
}

.note_tile {
  padding: 1rem;

  width: 100%;

  border-radius: 6px;
  background-color: rgb(250, 235, 215);
}

/* MODAL */

.form_title {
  color: var(--white);

  margin-bottom: 24px;
}

.diaryList_form {
  max-width: 600px;

  display: flex;

  flex-direction: column;
  align-items: center;

  overflow-y: auto;

  text-align: start;
}

.diaryList_fieldWrap {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.diaryList_fieldLabel {
  font-size: 14px;
  line-height: 1.5;
  color: var(--white);
  margin-bottom: 8px;
}

.textarea {
  height: 150px;
  resize: none;
}

.diaryList_fieldInput.error::placeholder {
  color: var(--color-red) !important;
}

.diaryList_fieldError {
  position: absolute;

  left: 10px;
  bottom: -20px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  color: var(--pastel-red);
}

@media screen and (min-width: 991px) {
  .wrapper {
    flex-wrap: nowrap;
  }

  .list_wrapper,
  .note_wrapper {
    overflow: hidden;

    max-width: 50%;
    width: 100%;
  }
}
