.swiper_wraper {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 50px;
}

.content_wrapper {
  padding-bottom: 150px;
}

.education_article {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  gap: 8px;
}

.item {
  padding-left: 20px;
  position: relative;

  font-size: clamp(0.625rem, 0.5643rem + 0.2589vw, 0.875rem);
}

.item::after {
  content: "";

  position: absolute;

  top: 10px;
  left: 0;

  width: 4px;
  height: 4px;

  background: var(--accent-color);
}

.article_wrapper {
  max-width: 870px;

  display: flex;
  flex-direction: column;
}

.article_header {
  margin-bottom: 15px;
}

.article_title {
  margin-bottom: 10px;

  color: var(--dark);

  font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
}

.category {
  font-family: var(--font-family-oswald);
  color: var(--accent-color);
}

.greeting {
  padding-block: 10px;

  font-family: var(--font-family-accent);

  font-style: italic;
}

.about {
  flex: 1;
}

.social {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  color: var(--accent-color);
}

.social li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;

  gap: 5px;
}

.social li a span {
  text-decoration: underline;

  transition-duration: 0.3s;
}

.social li a span:hover,
.social li a span:active {
  color: var(--dark);
}

@media screen and (min-width: 1191.98px) {
  .swiper_wraper {
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .social {
    flex-wrap: nowrap;
    gap: 50px;
  }

  .education_article {
    flex-wrap: nowrap;
  }
}
