.layout_wrapper {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .layout_wrapper {
    flex-wrap: nowrap;

    gap: 50px;
  }
}
