.background_tile {
  overflow: hidden;
  position: relative;
}

.background_tile::after {
  z-index: 1;

  content: "";

  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;

  height: 180px;

  background-color: rgba(0, 0, 0, 0.3);
}

.background {
  width: 100%;
  height: 180px;

  object-fit: cover;
}

.custom_input_wrapper {
  display: none;
  overflow: hidden;
  opacity: 0;
}

.custom_avatar_wrapper {
  z-index: 2;

  position: absolute;

  bottom: 30px;
  right: 40px;

  transition: all 0.2s ease-in;
}

.upload {
  opacity: 0;

  padding: 8px 16px;

  color: var(--white);

  font-size: 12px;

  background-color: rgba(0, 0, 0, 0.3);

  border-radius: 4px;
  border: 1px solid var(--white);

  transition: all 0.2s ease-in;
}

.upload:active {
  transform: scale(0.98);
}

.background_tile:hover .upload {
  opacity: 1;
}
