.auth_wrapper {
  display: flex;

  gap: 10px;
}

.user_wrapper {
  display: flex;
  flex-direction: column;
}

.user_tile {
  margin-bottom: 10px;
  display: inherit;
  gap: 20px;
  align-items: end;
  justify-content: end;

  font-size: 14px;
  color: var(--white);
}

.user_tile h3 {
  line-height: 1;
}

.avatar {
  border-radius: 50%;

  width: 30px;
  height: 30px;

  object-fit: cover;
  object-position: center;
}
