.page_content {
  display: flex;
  flex-direction: column;
}

.front_image {
  margin-bottom: 25px;

  max-width: 960px;
  max-height: 480px;

  object-fit: cover;

  object-position: 0 0;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.group_title {
  margin-top: 20px;
  font-family: var(--font-family-oswald);

  font-size: clamp(1.125rem, 0.9808rem + 0.641vw, 1.75rem);

  color: var(--dark);
}

.content_image_wrapper {
  margin-block: 30px;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  gap: 40px;
}

.content_image {
  width: 100%;

  max-height: 250px;

  object-fit: cover;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.article_list {
  margin-top: 10px;
}

.article_item {
  position: relative;

  display: flex;
  align-items: center;

  gap: 7px;
}

.trainer_block {
  padding-block: 60px;
}

.trainers_title {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .content_image_wrapper {
    flex-wrap: nowrap;

    gap: 20px;
  }

  .content_image {
    max-width: 340px;
    width: 100%;

    max-height: 240px;

    object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  .content_image {
    max-width: 460px;
    width: 100%;

    max-height: 300px;
  }
}
