.modal_overlay {
  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal_content {
  overflow: auto !important;

  padding: 30px;

  border-radius: 20px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid #fd5f26;

  max-width: 90vw;
  max-height: 60vh;

  width: 50%;
  height: 100%;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  color: var(--white);

  background-color: rgba(0, 0, 0, 0.8);

  border-radius: 12px !important;

  text-align: center;
}

.modal_content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.modal_content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
