.title {
  font-family: var(--font-family-accent) !important;
  margin-bottom: 60px;

  gap: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.title_text {
  position: relative;

  letter-spacing: 4px;
  font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);
  font-weight: 700;

  color: var(--accent-color);
}

.title_text_about {
  font-family: var(--font-family-oswald);
  margin-bottom: 20px;
  font-weight: 600;

  text-transform: capitalize;

  font-size: clamp(2.1875rem, 1.9712rem + 0.9615vw, 3.125rem);

  color: var(--dark);
}

.decor_element {
  margin: 0 auto;

  z-index: 1;
  position: relative;

  width: 90px;

  height: 2px;

  background: var(--dark);
}

.decor_element::before {
  z-index: 2;
  content: "";

  position: absolute;

  top: -6px;
  left: 50%;

  transform: translateX(-50%);

  width: 30px;
  height: 6px;

  background: var(--accent-color);
}

.title_text_wrapper {
  display: flex;

  align-items: center;

  gap: 10px;
}

.title_text_wrapper svg {
  margin-bottom: 4px;
  width: 20px !important;
  height: 20px !important;

  color: var(--accent-color);

  transform: rotate(35deg);
}
