.hero_section {
  height: 100%;

  background-color: var(--dark);
}

.hero_content_wrapper {
  max-width: 100%;
}

.hero_text_wrapper {
  margin-bottom: 55px;

  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  font-weight: 600;
  color: var(--white);
}

.greeting_wrapper {
  display: flex;

  align-items: center;

  max-height: 28px;
}

.greeting_text {
  display: inline-block;

  margin-left: 10px;

  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.7308rem + 0.641vw, 1.5rem);
  letter-spacing: 4px;

  font-weight: 600;
  line-height: 1;

  text-wrap: balance;
}

.greeting_wrapper svg {
  margin-bottom: 10px;

  width: 38px;
  height: 38px;

  color: var(--accent-color);
}

.hero_title {
  overflow: hidden;

  font-family: var(--font-family-accent);

  margin: 30px 0px 50px;

  font-size: clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);

  line-height: 1.4;
  letter-spacing: 2px !important;

  text-wrap: balance;
}

.hero_about {
  font-size: clamp(0.625rem, 0.5673rem + 0.2564vw, 0.875rem);
  font-weight: 400;
}

.hero_action {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: 991.98px) {
  .hero_content_wrapper {
    max-width: 70%;
  }
}
