.wrapper_page {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  gap: 25px;
}

/* Navigation panel */

.wrapper_navigation {
  display: flex;
  flex-direction: column;

  gap: 40px;

  flex: 1 1 100%;
}

.tile_wrapper {
  padding: 30px;
  background-color: var(--light-color);
}

/* Search */

.search_form {
  position: relative;
}

.search_submit {
  position: absolute;

  content: "";

  top: 42%;
  right: 20px;

  width: 18px;
  height: 18px;

  transform: translateY(-50%);
}

.search_submit svg {
  width: 100%;
  height: 100%;

  color: var(--accent-color);
}

/* Filter */

.filter_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
}

@media screen and (min-width: 991px) {
  .wrapper {
    flex-direction: row;
  }
}
