.wrapper_page {
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;

  gap: 25px;
}

/* Navigation panel */

.wrapper_navigation {
  display: flex;
  flex-direction: column;

  gap: 40px;

  flex: 1 1 100%;
}

.tile_wrapper {
  position: relative;

  padding: 30px;
  background-color: var(--light-color);
}

/* Search */

.search_form {
  position: relative;
}

.search_submit {
  position: absolute;

  content: "";

  top: 42%;
  right: 20px;

  width: 18px;
  height: 18px;

  transform: translateY(-50%);
}

.search_submit svg {
  width: 100%;
  height: 100%;

  color: var(--accent-color);
}

.result_tile {
  padding: 20px;

  z-index: 1;
  position: absolute;

  left: 50%;

  transform: translate(-50%, 5px);

  width: 325px;

  display: flex;
  flex-direction: column;

  gap: 20px;

  background-color: var(--white);

  box-shadow: var(--box-shadow2);

  font-size: 12px;
}

.result_tile_wrapper {
  display: flex;

  gap: 10px;
}

.thumb_image {
  min-width: 84px;

  height: 84px;

  object-position: top;
}

.title_link {
  color: var(--dark);
}

/* Filter */

.filter_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
}

/* Pagination */

.pagination {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 15px;
}

.pagination a {
  padding: 10px;
}

.active_pagination {
  border: 1px solid var(--accent-color);

  color: var(--accent-color);
}

@media screen and (min-width: 991px) {
  .wrapper {
    flex-direction: row;
  }
}
