.modal_wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;

  text-align: left;
}

.form_wrapper {
  display: flex;
  flex: 1;
}

.modal_header {
  display: flex;

  flex-direction: column;

  gap: 30px;
}

.head_nav {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  gap: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.head_nav span {
  font-style: normal;
  font-size: 18px;
}

.title {
  padding-block: 20px;

  font-weight: 500;

  font-family: var(--font-family-oswald);
}

.label {
  font-size: 28px;
  font-style: italic;

  font-family: var(--font-family-oswald);
  color: var(--accent-color);
}

.modal_header svg {
  display: block;
  padding-right: 20px;

  cursor: pointer;

  width: 42px;
  height: 42px;

  border-right: 1px solid rgba(255, 255, 255, 0.4);

  transition: all 0.2s ease-in-out;
}

.modal_header svg:hover {
  color: var(--accent-color);
}

/* Form */

.form_block {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input_wrapper {
  padding-block: 25px;
  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.input_wrapper::-webkit-scrollbar {
  display: none;
}

.content_wrapper {
  display: flex;

  gap: 20px;

  flex-wrap: wrap;
}

.section_title {
  font-size: 22px;
  color: var(--white);

  text-align: left;
}

.id_wrapper {
  position: relative;
  width: 186px;
}

/* Total */

.total_wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px 10px 0px;

  display: flex;
  justify-content: space-between;

  align-items: center;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: var(--accent-color);
  line-height: 1;
}

.price span {
  font-size: 18px;
}

@media screen and (min-width: 767.98px) {
  .content_wrapper {
    flex-wrap: nowrap;
  }
}
