.hero_section {
  height: 100%;

  background-color: var(--dark);
}

.hero_content_wrapper {
  max-width: 100%;
}

.hero_text_wrapper {
  margin-bottom: 85px;

  display: flex;
  flex-direction: column;

  text-transform: uppercase;

  font-weight: 600;
  color: var(--white);
}

.greeting_wrapper {
  display: flex;

  align-items: center;
}

.greeting_text {
  display: inline-block;

  margin-left: 10px;

  font-family: var(--font-family-oswald);
  font-size: clamp(0.875rem, 0.8173rem + 0.05vw, 1rem) !important;
  letter-spacing: 4px;

  font-weight: 600;
  line-height: 1;

  text-wrap: balance;
}

.greeting_wrapper svg {
  margin-bottom: 3px;

  width: 20px;
  height: 20px;

  color: var(--accent-color);
}

.hero_title {
  overflow: hidden;

  font-family: var(--font-family-accent);

  margin: 30px 0px 30px;

  font-size: clamp(1.3rem, 1.125rem + 1.6667vw, 2.3rem);

  font-family: var(--font-family-oswald);
  line-height: 1.4;
  letter-spacing: 4px !important;
}

.hero_about {
  font-size: clamp(0.625rem, 0.5673rem + 0.2564vw, 0.875rem);
  font-weight: 400;
}

.hero_action {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media screen and (min-width: 991.98px) {
  .hero_content_wrapper {
    max-width: 70%;
  }
  .hero_text_wrapper {
    margin-bottom: 55px;
  }
  .hero_title {
    margin: 30px 0px 50px;
  }
}
