body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;

  font-size: 1em;
  line-height: 1.8;

  color: var(--body-text-color);
}

header {
  z-index: 2;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
}

main {
}
