body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;

  font-size: clamp(0.875rem, 0.8462rem + 0.14vw, 1rem);
  line-height: 1.8;

  color: var(--body-text-color);

  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  z-index: 2;

  position: sticky;
}

main {
  margin-top: -6.2em;

  flex: 1;
}

h4 {
  color: var(--dark);
  margin: 0px;
  font-family: var(--font-family-accent);
  font-size: clamp(1.125rem, 0.9519rem + 0.7692vw, 1.875rem);
  line-height: 1.2;
}

section:first-child {
  margin-top: 0px;
}

/* section:last-child {
  margin-bottom: 0px;
} */

section {
  margin-bottom: 140px;
}
