.layout_wrapper {
  padding-bottom: 120px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  gap: 30px;
}

.outlet_wrapper {
  width: 100%;

  display: flex;
  gap: 32px;
  flex-direction: column;
}

/* Side bar */

.side_bar {
  width: 100%;

  overflow-x: auto;

  display: flex;
  align-self: flex-start;

  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.side_bar::-webkit-scrollbar {
  display: none;
}

.side_bar_list {
  display: inherit;

  flex-direction: row;

  gap: 20px;

  flex: 1;
}

.nav_link {
  padding: 10px 35px;

  max-width: 240px;

  font-family: var(--font-family-oswald);

  color: var(--dark);

  border: 1px solid var(--accent-color);

  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;

  transition: all 0.1s ease-in;
}

.active {
  color: var(--white);
  background-color: rgba(253, 95, 38, 0.8);
}

@media screen and (min-width: 991.98px) {
  .side_bar {
    width: 25%;

    position: sticky;
    top: 120px;

    overflow-x: visible;
  }
}

/* Carnet */

.carnet_list {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 20px;
}

/* Dashboard */

.dashboard_wrapper {
  width: 100%;
}

.user_wrapper {
  height: 320px;

  overflow: hidden;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border: 1px solid var(--border-info-color);
}

.user_info_wrapper {
  position: relative;
  z-index: 1;

  padding: 14px;
  transform: translateY(-50px);

  display: flex;
  gap: 32px;
  align-items: end;
}

.avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;

  object-fit: cover;

  border: 4px solid var(--accent-color);
}

.info_panel_wrapper {
  margin-top: 30px;
}

.user_name {
  font-size: 20px;
}

.user_email {
  font-size: 16px;
}

/* Profile */

.profile_wrapper {
  margin-top: -32px;
}

/* Setup */

.setup_wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;

  border: 1px solid var(--border-info-color);

  border-radius: 10px;
}

.form_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.coll_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.user_info_input {
  max-width: 300px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.setup_label {
  width: 100%;
  font-size: 14px;
  color: var(--dark);
}

@media screen and (min-width: 991.98px) {
  .layout_wrapper {
    padding-bottom: 120px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 30px;
  }

  .side_bar_list {
    overflow-x: visible;
    flex-direction: column;
  }

  .user_info_wrapper {
    padding: 24px;

    transform: translateY(-90px);
  }

  .avatar {
    width: 160px;
    height: 160px;
  }

  .active {
    transform: translate(10px, 0px);
  }

  .carnet_list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 320px));
  }
}

@media screen and (min-width: 767.98px) {
  .form_wrapper {
    align-items: stretch;
  }
  .coll_1 {
    flex-direction: row;
  }

  .carnet_list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
