.console_wrapper {
  display: flex;
  flex-direction: column;

  gap: 32px;

  padding: 0px 0px 24px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab_list {
  overflow-x: auto;

  display: flex;

  justify-content: space-between;

  flex: 1;
}

.tab_list::-webkit-scrollbar {
  display: none;
}

.tab {
  position: relative;

  cursor: pointer;

  display: flex;
  justify-content: center;

  padding: 10px 20px;
  background-color: rgba(253, 95, 38, 0.8);

  color: var(--white);
  text-wrap: nowrap;

  flex: 1;

  transition: all 0.2s ease-in-out;

  font-family: var(--font-family-accent);
}

.tab::after {
  content: "";
  position: absolute;

  top: 50%;
  right: 0;

  transform: translateY(-50%);

  width: 1px;
  height: 70%;

  background-color: rgba(255, 255, 255, 0.6);
}

.tab::before {
  content: "";
  position: absolute;

  top: -1px;
  right: 30px;

  width: 35px;
  height: 6px;

  background-color: rgba(255, 255, 255, 1);

  opacity: 0;
}

.tab.active::before {
  opacity: 1;
}

.tab:first-child {
  border-bottom-left-radius: 24px;
}

.tab:last-child {
  border-bottom-right-radius: 24px;
}

.tab:last-child::after {
  display: none;
}

.tab:hover {
  background-color: var(--accent-color);
}

/* Tab section */

.tab_section {
  padding: 16px;

  border: 1px solid var(--border-info-color);
  border-radius: 10px;
}

.active {
  background-color: var(--accent-color);
}

.tab.active .tab_section {
  opacity: 1;
  transform: scale(1);
}
