.comment_wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.comment_wrapper::after {
  z-index: -1;
  content: "";

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--white);

  opacity: 0.3;
}

.image_wrapper {
  display: none;
}

.comment_background {
  width: 100%;
  height: 100%;
}

.form_block {
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 767.98px) {
  .image_wrapper {
    display: block;

    z-index: -1;
    position: absolute;

    height: 100%;
  }

  .comment_background {
    object-fit: cover;
    object-position: bottom;
  }

  .form_block {
    margin: 30px;
    padding: 30px 50px;
  }
}

@media screen and (min-width: 1191.98px) {
  .image_wrapper {
    flex: 1;
  }

  .image_wrapper {
    position: static;

    width: 100%;
    height: 635px;
  }

  .comment_wrapper {
    justify-content: space-between;
  }

  .comment_wrapper::after {
    display: none;
    z-index: -1;
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--white);

    opacity: 0.3;
  }

  .form_block {
    margin: 0;
  }
}
