.wrapper {
  display: flex;

  flex-direction: column;

  gap: 50px;
}

.col1,
.col2 {
  max-height: 780px;

  display: flex;
  flex-direction: column;
  flex: 1 0 calc(50% - 50px);

  overflow: hidden;
}

.col1 {
  position: relative;
}

.col2 {
  padding-block: 30px;
}

.col1::after {
  content: "";
  position: absolute;

  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  width: 80%;
  height: 95%;

  background: transparent;

  border-right: 8px solid var(--accent-color);
  border-top: 8px solid var(--accent-color);
  border-bottom: 8px solid var(--accent-color);
  border-left: 8px solid transparent;
}

.col1 img {
  width: 100%;
  height: 100%;

  object-position: top;
  object-fit: cover;
}

.title {
  margin-bottom: 10px;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;

  color: var(--accent-color);
}

.title svg {
  width: 22px;
  height: 22px;
}

.about {
  font-family: var(--font-family-accent);
  line-height: 1.2;
  font-weight: 600;
  text-transform: capitalize;
  font-size: clamp(2.75rem, 2.618rem + 0.5634vw, 3.125rem);

  color: var(--dark);
  margin-top: 5px;

  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;

  display: block;

  flex: 1;
}

.quality_tile {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.col_quality {
  display: flex;
  align-items: center;

  gap: 25px;
}

.col3 {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.icon_tile {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--theme-gradient2);

  min-width: 80px;
  min-height: 80px;

  border-radius: 50%;
}

.icon_tile svg {
  width: 38px !important;
  height: 38px !important;
}

.col3 h4 {
  font-size: 22px;
}

.col3 h4,
.col3 p {
  line-height: 1;
}

@media screen and (min-width: 991px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 30px;
  }
}
