.preferens_wrapper {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  justify-content: center;
  gap: 25px;
}
/* CONTENT BLOCK */

.item_wrapper {
  cursor: default;

  position: relative;

  min-width: 260px;

  box-shadow: var(--box-shadow);
}

.item_wrapper span {
  font-size: clamp(0.75rem, 0.6923rem + 0.2564vw, 1rem);
}

.item_wrapper::after {
  z-index: -1;
  content: "";

  position: absolute;

  bottom: 0;

  width: 100%;

  height: 4px;

  background: var(--theme-gradient);
}

.item_wrapper:hover::after {
  height: 100%;

  transition: var(--transition2);
}

.item_wrapper:hover svg {
  fill: var(--white);

  animation: rotate2d 0.6s ease-out forwards;
  transform-origin: center;
}

.item_wrapper:hover h4,
.item_wrapper:hover span,
.item_wrapper:hover .toggle_btn {
  color: var(--white);

  transition-delay: 0.2s;
}

.item_wrapper:hover h4 {
  text-decoration: underline;
}

.item_wrapper svg {
  margin-bottom: 10px;
}

.item_wrapper h4 {
  margin-bottom: 20px;

  font-family: var(--font-family-oswald);
}

.content_wrapper {
  padding: 30px;
}

.content_box {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.toggle_btn {
  transition: var(--transition2);
  color: inherit;
}

.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

@keyframes rotate2d {
  from {
    transform: rotateY(0deg) scale(0);
  }
  to {
    transform: rotateY(360deg) scale(1);
  }
}

@media screen and (min-width: 1199.98px) {
  .preferens_wrapper {
    grid-template-columns: repeat(4, fit-content(100%));
  }
}
