.wrapper {
  z-index: 1;
  position: relative;

  height: 300px;

  margin-bottom: 20px;

  background-position: 0 10% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  font-family: var(--font-family-accent);

  color: var(--white);

  text-transform: capitalize;

  display: flex;
  align-items: center;
}

.wrapper::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  background: var(--hero-overlay-color);

  opacity: 0.7;

  z-index: -1;
}

.content_wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: clamp(1rem, 0.7404rem + 1.1538vw, 2.125rem);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.list li {
  display: inherit;
  align-items: center;

  gap: 10px;

  font-size: clamp(1rem, 0.9712rem + 0.1282vw, 1.125rem);

  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  .wrapper {
    padding-block: 120px 40px;

    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-block: 140px 70px;

    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    padding-block: 160px 90px;

    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    height: 300px;

    padding: 0;
    margin-bottom: 90px;
  }
}
