/* Title */

.title {
  font-family: var(--font-family-accent);
  position: relative;

  margin-bottom: 30px;

  font-size: clamp(1.125rem, 0.971rem + 0.6573vw, 1.5625rem);

  color: var(--dark);
}

.title::after {
  position: absolute;

  content: "";

  width: 15px;
  bottom: 0px;
  left: 0px;

  border-bottom: 3px solid var(--accent-color);
}

.title::before {
  position: absolute;

  content: "";

  width: 30px;
  bottom: 0px;
  left: 22px;
  border-bottom: 3px solid var(--accent-color);
}
