.content_wrapper {
  padding-bottom: 140px;

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  gap: 100px;
}

.price_wrapper {
  max-width: 700px;

  display: flex;
  flex-direction: column;

  flex: 1 1 100%;
}

.title_wrapper {
  padding-right: 50px;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  justify-content: space-between;
}

.title_wrapper svg {
  width: 26px;
  height: 26px;
  color: var(--accent-color);

  transition: all 0.2s ease-in;
}

.title_wrapper svg:hover {
  transform: scale(1.2);
}

.item {
  line-height: 2em;
}

.title {
  font-family: var(--font-family-oswald);
  font-size: clamp(1.1rem, 1rem + 0.6vw, 2rem) !important;
  color: var(--accent-color);
}

.type_name {
  font-family: var(--font-family-oswald);
  font-style: italic;
}

.description_list {
  margin-bottom: 10px;
}

.icon {
  margin-right: 5px;
}

.about_text {
  margin-top: 10px;

  font-size: 14px;
}

.about_text::first-letter {
  margin-left: 10px;
}

@media screen and (min-width: 991.98px) {
  .content_wrapper {
    flex-wrap: nowrap;
  }
}
