.wrapper {
  flex: 0 0 68%;
}

.wrapper > img {
  height: 500px;
}

.blog_title {
  margin-bottom: 15px;
  font-size: clamp(1.5rem, 1.2799rem + 0.939vw, 2.125rem);
  font-family: var(--font-family-accent);
  color: var(--dark);
}

.paragraph {
  margin-bottom: 20px;
}

.image_thumb {
  max-width: 425px;
  max-height: 250px;

  object-position: center !important;
}

/* Navigation */

.navigation_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.first_tile {
  margin-block: 10px;
  display: inherit;

  gap: 40px;
}

.tile {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 5px;

  text-align: end;

  font-size: 14px;
}

.tile:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tile svg {
  color: var(--accent-color);
  stroke-width: 0.5px;
}

/* QUOTE */

.quote_tile {
  padding-inline: 30px;
  margin-bottom: 20px;

  position: relative;

  background-color: var(--light-color);
}

.quote_tile::before {
  content: "";

  position: absolute;

  width: 5px;
  height: 100%;

  left: 0;

  background-color: var(--accent-color);
}

.quote_wrapper {
  padding-block: 30px;
}

.quote_author {
  display: flex;
  align-items: center;

  gap: 25px;
}

.quote_decor {
  width: 50px;
  height: 2px;

  background-color: var(--accent-color);
}

.quote_text {
  margin-bottom: 20px;
  font-style: italic;
}

.quote_author {
  font-family: var(--font-family-accent);
  font-size: 22px;
  font-weight: 500;

  font-style: italic;

  color: var(--dark);
}

.thumb_tile {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 20px;
}

.thumb_tile img {
  width: 100%;
  max-height: 250px;

  object-position: top;
}

/* Tags */

.tags_tile {
  padding-block: 15px;

  border-top: 1.4px solid var(--border-info-color);
}

.tags_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tags_list {
  overflow-x: auto;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  gap: 15px;
}

.tags_list::-webkit-scrollbar {
  display: none;
}

.tags_item {
  padding: 10px 20px;

  font-size: 14px;

  color: var(--dark);
  background-color: var(--light-color);
}

/* Comment block */

.navigation {
  margin-top: 50px;

  font-size: 28px;

  color: var(--dark);
}

.sign_in_link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form_block {
  margin-top: 50px;

  padding: 30px;
  background-color: var(--light-color);
}

.form_wrapper {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.first_column {
  display: flex;

  justify-content: space-between;

  gap: 30px;
}

.input_wrapper {
  position: relative;
  width: 100%;

  background-color: var(--white);
}

.input {
  outline-color: var(--border-info-color) !important;
}

.comment_title {
  margin-bottom: 20px;

  font-size: 28px;
}

/* Comment list */

.comment_wrapper {
  margin-top: 50px;
}

.comment_title {
  font-family: var(--font-family-accent);
  font-size: 18px;
}

.comment_list {
  margin-top: 30px;
  margin-bottom: 50px;

  display: flex;

  flex-direction: column;

  gap: 50px;
}

.comment_list li:nth-child(even) {
  margin-left: 50px;
}

.comment_list li {
  display: flex;

  gap: 30px;
}

.user_name {
  font-family: var(--font-family-accent);

  color: var(--dark);

  font-size: 20px;
}

.time {
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  gap: 5px;
  font-size: 13px;

  color: var(--accent-color);
}

.comment_avatar {
  border-radius: 50%;

  width: 60px;
  height: 60px !important;
}

.comment_text {
  font-size: 14px;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;

  font-size: 12px;

  color: var(--dark);
}

.pagination li {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding-inline: 8px;
}

.pagination li:hover {
  transform: scale(1.1);
}

.pagination svg {
  width: 12px;
}

@media screen and (min-width: 768px) {
  .thumb_tile {
    flex-wrap: nowrap;
  }
}
