.lightbox_overlay {
  cursor: zoom-out;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.lightbox_content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.image_wrapper {
  position: relative;

  max-width: 90vw;
  max-height: 90vh;
}

.lightbox_image {
  cursor: pointer;

  max-width: 90vw;
  max-height: 90vh;

  object-fit: contain;
}

.image_context {
  padding-block: 15px;
  position: absolute;

  width: 100%;

  bottom: 0;

  background: rgba(0, 0, 0, 0.2);

  text-align: center;
  color: var(--white);
}

.close_btn,
.nav_btn {
  position: absolute;
  background: none;
  border: none;
  color: var(--white);
  font-size: 0.7em;
  cursor: pointer;
}

.close_btn {
  position: absolute;

  top: 20px;
  right: 50px;

  font-size: 18px;

  color: var(--white);
}

.nav_btn_left,
.nav_btn_right {
  padding-inline: 30px;
  font-size: clamp(1.75rem, 1.0898rem + 2.8169vw, 3.625rem);
  color: var(--white);

  position: absolute;

  top: 50%;
  transform: translateY(-50%);
}

.nav_btn_left {
  left: -80px;
}

.nav_btn_right {
  right: -80px;
}

.close_btn:hover {
  transform: scale(1.04);
}
