.overflow {
  z-index: 99998;

  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: var(--white);
}

.content {
  z-index: 99999;

  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
